In [ ]:
# Testing Group by

In [2]:
import pandas as pd


ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [7]:
grouped = df.groupby('Year')
print (grouped)

#Nature of groups
for name,group in grouped:
   print (name)
   print (group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f228c2bb290>
2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [29]:
import numpy as np
#Column selection
subgroup = df.groupby('Year')["Rank"]
print (subgroup)
type(subgroup)

#By chosing a column, no aggregation is not done yet
#It is merely positiong the column in the "tree"
#it is still a tree structure
#Its type accordingly is "SeriesGroupBy"
#it is not series yet (so to say, what ever the nature of a series is)
#That is for another day
aggregatedSubgroup = df.groupby('Year')["Rank"].agg(np.mean)
print(aggregatedSubgroup)
print(type(aggregatedSubgroup))

#Covert the series to a dataframe
subdf = aggregatedSubgroup.to_frame()
print(subdf)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f2284e38290>
Year
2014    2.5
2015    2.5
2016    1.5
2017    1.5
Name: Rank, dtype: float64
<class 'pandas.core.series.Series'>
      Rank
Year
2014   2.5
2015   2.5
2016   1.5
2017   1.5

In [36]:
aggregatedSubgroup2 = df.groupby('Year')[["Rank","Points"]].agg(np.mean)
print(aggregatedSubgroup2)
print(type(aggregatedSubgroup2))

#aggregatedSubgroup2.describe()
aggregatedSubgroup2.head()

      Rank  Points
Year
2014   2.5  795.25
2015   2.5  769.50
2016   1.5  725.00
2017   1.5  739.00
<class 'pandas.core.frame.DataFrame'>

      Rank  Points
Year
2014   2.5  795.25
2015   2.5  769.50
2016   1.5  725.00
2017   1.5  739.00

In [35]:
grouped = df.groupby('Team')
print (grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN